footer{
    background-color: #212529;
    padding:1.2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    text-align: center;
    margin: 0;
    p{
        color: white;
    }
    .redes{
        display: flex;
    }
}